

.button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-padding: 10px 20px;
}

.button:hover {
    -fx-background-color: #45a049; /* Cambio de color al pasar el mouse */
    -fx-cursor: hand; /* Cambiar el cursor a mano */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0, 0); /* Efecto de sombra */
}